
@{
    ViewData["Title"] = "Activuj tým";
}

<h2>Díky za to, že jsi se rozhodl zaregistrovat tým do našeho turnaje. Než tě postíme dál, potřebujeme ověřit, že jsi členem našeho serveru, proto prosím jdi do channelu #aktivace a překopíruj následující heslo. </h2>
<h1> !activate @ViewBag.Activator </h1>  