
@{ViewData["Title"] = "Vítej"; }

<head>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
</head>
<body>
    <h1 class="title ; center">Skautské klání v počítačových hrách 2.0</h1>
    <p class="normal_text gradient">Toto jsou oficiální stránky Skautského klání. Připravili jsme pro vás další, v pořadí již druhý ročník. Stránku jsme vytvořili abychom zjednodušili a zautomatizovali registraci a zapisování výsledků. Do těchto úprav jsme se vrhli hned na Nový rok, aby jste si mohli znovu zasoutěžit s ostatními skauty v počítačových hrách.</p>
    <p class="conclusion">Za celý organizační tým vám přejeme hodně štěstí v turnaji</p>
</body>